.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 18px 50px;
  border-bottom: 1px solid #333;
  flex-wrap: wrap;
}

.logo {
  font-weight: bold;
  color: var(--accent);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 30px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  font-weight: 500;
}

.nav-links li:hover {
  color: var(--accent);
}
@media (max-width: 600px) { 
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    margin-top: 10px;
  }
}

